[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
snorkel = "*"
pandas = "*"
scikit-learn = "*"
spacy = "*"
transformers = "*"
pytest = "*"
usaddress = "*"

[dev-packages]

[requires]
python_version = "3.11"
